!!! 5
html
  head
    title foo
    link(rel="stylesheet",href="/style/default.css")
  body
    script(src="/socket.io/socket.io.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="/client.js")
    #app
      #wrapper
        #button.clickme clickme
        #counts
      
